body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

img{
    display: block;
    margin: auto;
}

#todo-form {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #444;
}

/* Input and Add Button styling */
#todo-input {
    width: calc(100% - 85px); /* Full width minus button width */
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

#Add {
    margin-top: 1rem;
    padding: 10px 15px;
    border: none;
    background-color: #f50202;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#Add:hover {
    background-color: #4a54e1;
}

/* Individual Task Item Styling */
.task-item {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid #eee;
}

.task-text {
    flex-grow: 1; /* Allows text to take up available space */
    margin: 0 10px;
}


.task-item.completed {
    text-decoration: line-through;
    color: #020202;
}