body {
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

img{
    display: block;
    margin: auto;
}
.container{
    display:flex;
    flex-direction: column;
}
#todo-form {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin-bottom: 0px;
}

#completed-form{
    margin-top: 0px;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h1 {
    text-align: center;
    color: #444;
}

#todo-input {
    width: calc(100% - 25px);
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

#Add {
    margin-top: 1rem;
    padding: 10px 15px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#clearAllBtn {
    margin-top: 1rem;
    float: right;
    margin-right: 2px;
    padding: 10px 15px;
    border: none;
    background-color: #f50202;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#clearAllBtn:hover{
    background-color:#ff4b4b
}

#Add:hover {
    background-color: #4a54e1;
}

.task-item {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    border-bottom: 1px solid #eee;
}

.task-text {
    flex-grow: 1; 
    margin: 0 10px;
}


.task-item.completed {
    text-decoration: line-through;
    color: #020202;
}